.navbar ul {
    list-style-type: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    padding-left: 10px;
}

.navbar a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar li {
    display: inline;
    padding: 15px;
}

.right-side-nav {
    float: right;
    padding-right: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.logo {
    margin: 0 auto;
}

.search-form {
    margin: 0 auto;
}

.search-box {
    margin-top: 20px;
    width: 475px;
    height: 35px;
    border-radius: 30px;
    border:1px solid #dcdcdc;
}

.buttons {
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
}

.search-button {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}

.lucky-button {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}

.footer-nav ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    background-color: #80808012;
    padding-top: 15px;
}

.footer-nav a {
    color: grey;
    text-decoration: none;
    font-size: 13px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-nav li {
    display: inline;
    padding: 15px;
}

.right-side-footer {
    float: right;
}